*{
    padding: 0;
    margin: 0;
    font-family:'Josefin Sans',sans-serif;
    box-sizing: border-box;
    
    }
    html,body{
        width:100%;
        overflow-x:hidden;
        scroll-behavior: smooth;
    }
    
    .hero{
        height: 100vh;
        width:100%;
        background-image:url("./Background.jpg");
        background-size: 78%;
        background-position: center;
    
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
        
    }
    .logo{
        color: rgb(74, 163, 135);
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    span{
        color:#f9004d ;
    }
    nav ul li{
        list-style-type:square ;
        display: inline-block;
        padding: 10px 25px;
    }
    nav ul li a{
        color:white ;
        text-decoration:none ;
        font-weight: bold;
        text-transform: capitalize; 
    }
nav ul li a:hover{
    color: #f9004d;
    transition: 3s; 
}
.btn{
    background-color: #f9004d;
    color:rgb(181, 202, 153);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
  .btn:hover{
    transform: scale(1.2);
  }
  .content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);

  }
  h1{
    color: white;
    margin: 20px 0px 20px;
   font-size: 75px; 
  }
  h3{
    color: white;
  }
  h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;

  }
  .newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
  }
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;

}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px; 
}
.about{
    width:100%;
    padding: 100px 0px;
    background-color: #191919; 
}
.about img{
    height:auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items:center ;
    justify-content:space-around ;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px soild #f9004d;
    cursor: pointer; 
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 365px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center ;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}
.card .button:hover{
    background-color: transparent;
    border: 2px soild #f9004d;
    cursor: pointer; 
}

/*skill*/
.skills_section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container {
    width: 1000px;
    height: auto;
    padding: 60px;
    border-radius: 14px;
    box-shadow: 2px 14px 45px rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(60px);
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    filter: blur(5px);
}
.circle_1 {
    top: 8%;
    right: 13%;
    background: linear-gradient(to right, #ffff00 0%,#f9004d 100%);
}
.circle_2 {
    bottom: 9%;
    left: 14%;
    background: linear-gradient(to right, #090979 0%, #00d4ff 100%);
}
.container .skills_head {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}
.skills_head h2 {
    font-size: 50px;
}
.skills_head h2 span {
    color: #f9004d;
}
.skills_head p {
    font-size: 17px;
    opacity: .8;
    font-weight: 500;
}
.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 38px;
    grid-column-gap: 60px;
    justify-content: space-around;
}
.skill_bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.skill_bar .info p {
    font-size: 19px;
    font-weight: 500;
    opacity: .8;
}
.skill_bar .bar {
    width: 100%;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 25px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
    position: relative;
}
.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    background: linear-gradient(to bottom, #ffff00 0%, #f9004d 100%);
}
.skill_bar .bar .html {
    width: 90%;
    animation: html 3s;
}
/* @keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
.skill_bar .bar .html {
    width: 90%;
    animation: html 3s;
}
@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
} */
.skill_bar .bar .css {
    width: 85%;
    animation: css 3s;
}
@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
.skill_bar .bar .PHP {
    width: 80%;
    animation: PHP 3s;
}
@keyframes PHP {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
.skill_bar .bar .js {
    width: 80%;
    animation: js 3s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .SQL {
    width: 75%;
    animation: SQL 3s;
}

@keyframes SQL {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skill_bar .bar .Photoshop {
    width: 95%;
    animation: Photoshop 3s;
}

@keyframes Photoshop {
    0% {
        width: 0%;
    }
    100% {  width: 95%;  }
}
.skill_bar .bar .Premiere_Pro {
    width: 65%;
    animation: Premiere_Pro 3s;
}
@keyframes Premiere_Pro {
    0% {
        width: 0%;
    }
    100% {  width: 75%;  }
}
.skill_bar .bar .C {
    width: 90%;
    animation: C 3s;
}
@keyframes C {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}


     
     /*contact*/

.content-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.content-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.content-me.button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
.content-me.button-two:hover{

    background-color: transparent;
    border: 2px soild #f9004d;
    cursor: pointer;
}

.cont form{
    width: 380px;
    max-width: 100%;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 30px 14px 30px;
    border: 3px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.cont form input{
    display: inline-block;
    width: 100%;
    padding: 20px 30px 14px 30px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
    width: 100%;
	padding: 15px;	
 }

 .cont form textarea{
    display: inline-block;
    width: 100%;
    padding: 20px 30px 14px 30px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
    width: 100%;
	padding: 15px;
 }
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
 footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
 }
 footer p:nth-child(2){
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
 }
 .social{
    display: flex;
 }
 .social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
   font-size: 20px;
 }
 .social a:hover{
    transform: scale(1.3);
    transition: .3s;
 } 
 .end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
 }



 @media screen and (min-width: 961px) and (max-width: 1880px) {
	.container {
		width: 1200px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
	.container {
		width: 960px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.container {
		width: 100%;
	}
}
div {
    display: flexbox;
}

/* Mobile */

@media screen and (max-width: 736px) {

    /* Basic */

        body, input, textarea, select {
            font-size: 14pt;
        }

        .home{
            height: 100vh;
            background-image:url("./Background-Phone.jpg");
            background-size: cover;
            background-position: right;
        
        }

        #container {
            padding: 0 15px 0 15px;
        }

        /* Hiding Navigation Menu in mobile view*/ 
        nav ul li{
            display: none;
        }

        nav{
            display: hidden;
            justify-content: space-between;
            padding-top: 45px;
            padding-left: 8%;
            padding-right: 8%;
        }

        .conntent {
            padding-top: 40%;
        }

        h1{
            color: white;
            margin: 20px 0px 20px;
            font-size: 50px;
        }
        h3{
            color: white;
            font-size: 25px;
            margin-bottom: 50px;
        }
        h4{
            color: #fcfc;
            letter-spacing: 2px;
            font-size: 20px;
        }
      
        #container{
            display: flex;
        }
        
        /* #pic {
            display: flex;
        }    */

        #row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .about-text{
            /* width: 550px; */
            flex-basis: 60%;
            padding: 10% 50px 0 50px;
            text-justify: distribute;
            text-align: justify;
        }

        .portfolio_Head h2{
            color: white;
            font-size: 75px;
            /* width: 100px; */
            /* margin: 30px auto; */
            text-align: center;
            padding-left: 0px;
        }

        .skill_bar .btn {
            margin: 0;
            position: absolute;
            top: 95%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

         .cont form textarea{
            display: inline-block;
            width: 100%;
            padding: 14px 20px 14px 20px;
            border: 2px solid #f9004d;
            outline: none;
            border-radius: 30px;
            width: 100%;
            padding: 15px;
         }

         #contact{
            padding: 0 0 30px 0 ;
         }

        .contact-me p{
            font-size: 20px;
        }

        .portfolio_Head {
            width: 50px;
        }
        
        .box{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-gap: 40px;
            justify-content: space-around;
            padding: 0 200px 0 0;
            height: 1000px;
        }
        .card{
            top: 120px;
            right: 40px;
        }
        .portfolio{
            height: 1400px;
        }
}


    


 

     